<div class="main-menu menu-fixed menu-dark menu-bg-default rounded menu-accordion menu-shadow">
    <div class="main-menu-content">
        <a class="navigation-brand d-none d-md-block d-lg-block d-xl-block" href="{% url 'dashboard' %}">
            <img class="brand-logo" alt=" logo" src="images/logo/logo.png" />
        </a>
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="{% if page == 'dashboard' %}active{% endif %}"><a href="{% url 'dashboard' %}">
                    <i class="icon-grid"></i><span class="menu-title">Dashboard</span></a>
            </li>
            <li class=" nav-item {% if page == 'level' %}active{% endif %}"><a href="{% url 'level' %}">
                    <i class="icon-layers"></i><span class="menu-title">Levels</span></a>
            </li>
            <li class=" nav-item {% if page == 'peer' %}active{% endif %}"><a href="{% url 'peer' %}">
                    <i class="icon-shuffle"></i><span class="menu-title">Peers</span></a>
            </li>
            <li class=" nav-item {% if page == 'referral' %}active{% endif %}"><a href="{% url 'referral' %}">
                    <i class="icon-wallet"></i><span class="menu-title">Referrals</span></a>
            </li>
            <li class=" nav-item {% if page == 'transaction' %}active{% endif %}"><a href="{% url 'transactions' %}">
                    <i class="icon-chart"></i><span class="menu-title">Transactions</span></a>
            </li>
            <li class=" nav-item {% if page == 'faq' %}active{% endif %}"><a href="faq.html">
                    <i class="icon-support"></i><span class="menu-title">FAQ</span></a>
            </li>
            <li class=" nav-item {% if page == 'profile' %}active{% endif %}"><a
                    href="{% url 'user_profile' user.username %}"><i class="icon-user-following"></i><span
                        class="menu-title">Account</span></a>
            </li>
        </ul>
    </div>
</div>