<meta name="msvalidate.01" content="2AD29387E9A767B741A590EDB020DDB0" />
<meta name="title" content="{{title}}">
{% if desc %}
<meta name="description" content="{{desc}}">
{% else %}
<meta name="description" content="Agapeer is a robust platform for convenient Peer-to-Peer Airtime Recharge/Data funding">
{% endif %}
{% if robot %}<meta name="robots" content="index, follow">{% else %}{% endif %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="1 day">
<meta name="author" content="Agapeer">
{% if title %}<title>{{title}} - Agapeer</title>{% else %}<title>Authentication- Agapeer</title>{% endif %}
<meta name="image" content="https://i.imgur.com/URJBlFt.png">
<meta itemprop="name" content="Agapeer">
<meta itemprop="description" content="Agapeer is a robust platform for convenient Airtime Recharge/Data funding">
<meta itemprop="image" content="https://i.imgur.com/URJBlFt.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Agapeer">
<meta name="twitter:description" content="Agapeer is a robust platform for convenient Airtime Recharge/Data funding">
<meta name="og:title" content="Agapeer">
<meta name="og:description" content="Agapeer is a robust platform for convenient Airtime Recharge/Data funding">
<meta name="og:image" content="https://i.imgur.com/URJBlFt.png">
<meta name="og:url" content="https://agapeer.me/">
<meta name="og:site_name" content="Agapeer">
<meta name="og:type" content="website">
