<!DOCTYPE html>
{% load static account socialaccount avatar_tags custom_notifications_tags %}{% notifications_unread as unread_count %}{% now "Y" as current_year %}
<html class="loading" lang="en" data-textdirection="ltr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <title>Dashboard</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/ico/favicon.ico">
  <link
    href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i|Comfortaa:300,400,500,700"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/vendors.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/app.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/core/menu/menu-types/vertical-compact-menu.min.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cryptocoins-icons@2.9.0/webfont/cryptocoins.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
        integrity="sha256-ENFZrbVzylNbgnXx0n3I1g//2WeO47XxoPe0vkp3NC8=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
  {% block css %}
  {% endblock css %}
</head>

<body class="vertical-layout vertical-compact-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
  data-menu="vertical-compact-menu" data-col="2-columns">

  <!-- fixed-top-->
  <nav
    class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-bg-color">
    <div class="navbar-wrapper">
      <div class="navbar-header d-md-none">
        <ul class="nav navbar-nav flex-row">
          <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs"
              href="#"><i class="ft-menu font-large-1"></i></a></li>
          <li class="nav-item d-md-none"><a class="navbar-brand" href="index.html"><img
                class="brand-logo d-none d-md-block" alt="logo" src="{% static 'landing/assets/img/logo-n.png' %}"><img
                class="brand-logo d-sm-block d-md-none" alt="logo sm" src="{% static 'landing/assets/img/logo-n.png' %}"></a></li>
          <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
              data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"> </i></a></li>
        </ul>
      </div>
      <div class="navbar-container">
        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="nav navbar-nav mr-auto float-left">
            <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                  class="ft-menu"> </i></a></li>
          </ul>
          <ul class="nav navbar-nav float-right">
            <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#"
                data-toggle="dropdown"><i class="ficon ft-bell"></i>
                {% live_notify_badge badge_class="live_notify_badge badge badge-pill badge-default badge-danger badge-default badge-up badge-glow" %}
              </a>
              <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                <li class="dropdown-menu-header">
                  <h6 class="dropdown-header m-0"><span class="grey darken-2">Notifications</span></h6>
                  {% live_notify_badge badge_class="live_notify_badge notification-tag badge badge-default badge-danger float-right m-0" extra_text="New" %}
                </li>

                {% live_notify_list list_class="live_notify_list scrollable-container media-list w-100" %}

                <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center"
                    href="javascript:void(0)">Read all notifications</a></li>
              </ul>
            </li>
            <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#"
                data-toggle="dropdown">
                <span class="avatar avatar-online">{% avatar user %}</span>
                <span class="mr-1">₦<span class="user-name text-bold-700">{{user.amount_received}}</span></span></a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'user_profile' user.username %}"><i
                    class="ft-award"></i>{{ user.username }}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'user_profile' user.username %}"><i class="ft-user"></i>
                  Profile</a>
                <a class="dropdown-item" href="{% url 'referral' %}"><i class="icon-loop"></i> Referrals</a>
                <a class="dropdown-item" href="{% url 'transactions' %}"><i class="ft-check-square"></i>
                  Transactions</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'account_logout' %}"><i
                    class="ft-power"></i> Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  {% include 'partials/dashboard_navbar.html' with page=page %}

  <div class="app-content content">
    <div class="content-wrapper">
      {% block breadcrumb %}
      <div class="content-header row">
      </div>
      {% endblock breadcrumb %}
      {% block content %}
      {% endblock content %}
    </div>
  </div>
  <footer class="footer footer-static footer-transparent">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span
        class="float-md-left d-block d-md-inline-block">Copyright &copy; {{ current_year }} <a
          class="text-bold-800 grey darken-2" href="" target="_blank">Ochui Princewill </a>, All rights reserved.
      </span><span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Hand-crafted & Made with <i
          class="ft-heart pink"></i></span></p>
  </footer>
  <script src="{% static 'vendors/js/vendors.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendors/js/timeline/horizontal-timeline.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/core/app-menu.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/core/app.min.js' %}" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanilla-js-dom@6.0.118/vanilla.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/jboesch/Gritter@1.7.4/js/jquery.gritter.min.js"></script>
  <script src="{% static 'js/humanized_time_span.js' %}" type="text/javascript"></script>
  <script src="{% static 'notifications/custom_notify.js' %}" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
  integrity="sha256-3blsJd4Hli/7wCQ+bmgXfOdK7p/ZUMtPXY08jmxSSgk=" crossorigin="anonymous"></script>
  {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
  {% block javascript %}
  {% endblock javascript %}
  <script>
    $(document).ready(function () {
      toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
      {% if messages %}
      {% for message in messages %}

      toastr['{{ message.tags }}']("{{message| escape}}")
      {% endfor %}
      {% endif %}
    });
  </script>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5d4304bf7d27204601c8cc70/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
</body>

</html>