{% extends 'base/landing_base.html' %}{% load static %}
{% block navbar %}
{% include 'partials/landing_navbar.html' with page=page %}
{% endblock navbar %}
{% block content %}
    <!--Banner Area Start-->
    <section id="banner">
        <div class="banner-cover-inde">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="banner-area">
                            <div class="banner-text">
                                <div class="table-cell">
                                    <h1>Take your <span id="js-rotating">business, online presence, relationship</span>
                                        to the next level with us</h1>
                                    <p>Individuals and businesses of all sizes are using online marketing but small
                                        businesses may
                                        not have the type of online presence to follow up new
                                        customers.
                                        Agapeer is a robust platform for convenient Airtime and Data funding
                                    </p>
                                    <div class="banner-btn d-flex">
                                        <div class="play-btn">
                                            <a title="About us" href="{% url 'about_page' %}" class="btn">Learn More</a>
                                        </div>
                                    </div>
                                    <!--"banner-btn-->
                                </div>
                                <!--table-cell-->
                            </div>
                            <!--banner-text-->
                        </div>
                    </div>
                    <!--col-md-8-->
                </div>
                <!--row-->
            </div>
            <!--container-->
        </div>
    </section>
    <!--Banner Area End-->


    <!-- About Area Start -->
    <section id="about">
        <div class="content-box">
            <!-- content title -->
            <div class="content-title">
                <h2>What We Do</h2>
                <p>Building an Internet of Opportunity for Africa</p>
            </div>
        </div><!-- end content box -->
        <!-- container start -->
        <div class="container">
            <!-- row start -->
            <div class="about-slider owl-carousel owl-theme">
                <div class="item-about">
                    <div class="about-slider-item text-center card">
                        <img src="{% static 'landing/assets/img/service/seo.png' %}" alt="icon" class="about-1">
                        <div class="about-info">
                            <h3>SEO Marketing</h3>
                            <img src="{% static 'landing/assets/img/about-bottom.png' %}" alt="icon" class="abo-img">
                            <p>It’s imperative that we balance creative, clever work while keeping client objectives
                                front of mind. </p>
                        </div>
                    </div>
                </div>
                <div class="item-about">
                    <div class="about-slider-item text-center card">
                        <img src="{% static 'landing/assets/img/service/web.png' %}" alt="icon" class="about-1">
                        <div class="about-info">
                            <h3>Data funding</h3>
                            <img src="{% static 'landing/assets/img/about-bottom.png' %}" alt="icon" class="abo-img">
                            <p>It’s imperative that we balance creative, clever work while keeping client objectives
                                front of mind. </p>
                        </div>
                    </div>
                </div>
                <div class="item-about">
                    <div class="about-slider-item text-center card">
                        <img src="{% static 'landing/assets/img/service/als.png' %}" alt="icon" class="about-1">
                        <div class="about-info">
                            <h3>Airtime funding</h3>
                            <img src="{% static 'landing/assets/img/about-bottom.png' %}" alt="icon" class="abo-img">
                            <p>It’s imperative that we balance creative, clever work while keeping client objectives
                                front of mind.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Area End -->


    <!-- veido area start -->
    <section id="veido">
        <!-- container start -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-md-12">
                    <!-- main play group start -->
                    <div class="play-group">
                        <a title="Youtube video" class="video-link" href="https://www.youtube.com/embed/qsJYrwzfd6w" data-width="1200"
                            data-height="1080"><i class="fas fa-play"></i></a>
                        <h5>We are changing the market trend</h5>
                    </div><!-- main play group end -->
                </div>
            </div><!-- row end -->
        </div>
        <!--container end-->
    </section>
    <!-- video area end-->

    <!-- Mission vision are start -->
    <section id="mission">
        <!-- main container start -->
        <div class="container-fluid">
            <!-- row 1  start -->
            <div class="row">
                <div class="col-md-6 col-sm-12 col-12">
                    <!-- left side text start-->
                    <div class="mission-text ">
                        <h2>We are here with our individual mission of giving the best</h2>
                        <p>Positive energy knows no boundaries. If everyone were to spread positive energy on the
                            Internet, the world would be a much better place.
                        </p>
                        <!-- button start -->
                        <div class="sub-btn d-flex">
                            <div class="play-btn mission">
                                <a title="About us" href="{% url 'about_page' %}" class="btn">Learn More</a>
                            </div>
                        </div><!-- button end -->
                    </div><!-- left side text end-->
                </div>
                <div class="col-md-6 col-sm-12 col-12">
                    <!-- right side img start -->
                    <div class="mission-img">
                        <img src="{% static 'landing/assets/img/mission.png' %}" alt="img"
                            class="img img-responsive m-1">
                    </div><!-- right side img end -->
                </div>
            </div> <!-- row 1 end -->
            <!-- row 2 start -->
            <div class="row">
                <div class="col-md-6 col-sm-12 col-12">
                    <!-- left img start -->
                    <div class="vision-img">
                        <img src="{% static 'landing/assets/img/vision.png' %}" alt="icon">
                    </div><!-- left img end -->
                </div>
                <div class="col-md-6 col-sm-12 col-12">
                    <!-- right side text start -->
                    <div class="vision-text">
                        <h2>We don't leave any stone unturned</h2>
                        <p>
                            We motivate people through integrity based, genuine, yet compassionate relationships based
                            on tough love principles designed to illicit change; therefore, acting as the catalyst to
                            keep everybody connected.
                        </p>
                        <!-- button start -->
                        <div class="sub-btn d-flex ">
                            <div class="play-btn">
                                <a title="About us" href="{% url 'about_page' %}" class="btn">Learn More</a>
                            </div>
                        </div><!-- button end -->
                    </div><!-- right side text end -->
                </div>
            </div><!-- row 2 end -->
        </div> <!-- main container end -->
    </section>
    <!-- Mission vision are end -->

    <!-- reason work area start -->
    <section id="reason-work">
        <!-- first container start -->
        <div class="img-40">
            <img src="{% static 'landing/assets/img/dot.png' %}" alt="img" class="dot">
        </div>
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-md-4 col-sm-12 col-12">
                    <div class="reason-text-1">
                        <h2>Reason to Work <br> With Us</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="reason-text-2">
                        <p>
                            We’re driven by curiosity, optimism, and the belief that every person can grow.
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="reason-work-btn d-flex">
                        <div class="play-btn">
                            <a title="Contact us" href="{% url 'contact_page' %}" class="btn">Contact us</a>
                        </div>
                    </div>
                </div>
                <div class="border-bottom"></div>
            </div> <!-- end row -->
            <!-- seccend row start -->
            <div class="row">
                <div class="col-md-6 col-sm-12 col-12">
                    <!-- item reason -->
                    <div class="all-reason-item">
                        <img src="{% static 'landing/assets/img/work/work-4.png' %}" alt="img">
                        <div class="reason-text-3">
                            <h5>Creative Minds</h5>
                            <p>Motivated by the desire to achieve, not by the desire to beat others.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-12">
                    <!-- item reason -->
                    <div class="all-reason-item">
                        <img src="{% static 'landing/assets/img/work/work-1.png' %}" alt="img">
                        <div class="reason-text-3">
                            <h5>24/7 Support</h5>
                            <p>Satisfaction is a rating. Loyalty is a brand, we put our customers first.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-12">
                    <!-- item reason -->
                    <div class="all-reason-item">
                        <img src="{% static 'landing/assets/img/work/work-3.png' %}" alt="img">
                        <div class="reason-text-3">
                            <h5>Clean Coding</h5>
                            <p>
                                Trust, honesty, humility, transparency and accountability are the building blocks of our reputation. Agapeer provides zero backdoor.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-12">
                    <!-- item reason -->
                    <div class="all-reason-item">
                        <img src="{% static 'landing/assets/img/work/work-2.png' %}" alt="img">
                        <div class="reason-text-3">
                            <h5>We Talk Plain English</h5>
                            <p>We want you to understand what we are doing and what the problem is. No geek-speak here!</p>
                        </div>
                    </div>
                </div>
            </div><!-- seccend row end -->
        </div><!-- first container end -->
    </section><!-- reason work area end -->

    <!-- Subscribe are start -->
    <section id="subscribe">
        <div class="subscribe-cover">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="subscribe-text wow fadeInLeft">
                            <h5>Subscribe you email address for latest news and updates</h5>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="latest-news-form wow fadeInRight">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Email Address..." name="email">
                                <div class="input-group-button">
                                    <a href="#!" class="input-group-text ">Subscribe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Subscribe are end -->

    <!-- testimonial area start -->
    <section id="testimonial">
        <div class="content-box-m">
            <div class="content-title">
                <h2>Trusted By Many</h2>
                <p>We’re determined and creative in transforming our bold ambitions into reality.</p>
            </div>
        </div>
        <div class="container">
            <div class="all-cover-test-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="testimonial-item">
                            <div class="testimonial-text">
                                <h4>"Great Service. I will work with them again"</h4>
                                <p>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                    quaerat volup</p>
                            </div>
                            <div class="overlay-2">
                                <div class="test-img">
                                    <img src="{% static 'landing/assets/img/test-1.jpg' %}" alt="img"
                                        class="img-responsive">
                                </div>
                                <div class="author">
                                    <h4>Jhon Doe</h4>
                                    <p>CTO And it</p>
                                </div>
                                <div class="koma">
                                    <img src="{% static 'landing/assets/img/koma.png' %}" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial-item">
                            <div class="testimonial-text">
                                <h4>"Great Service. I will work with them again"</h4>
                                <p>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                    quaerat volup</p>
                            </div>
                            <div class="overlay-2">
                                <div class="test-img">
                                    <img src="{% static 'landing/assets/img/test-1.jpg' %}" alt="img"
                                        class="img-responsive">
                                </div>
                                <div class="author">
                                    <h4>Jhon Doe</h4>
                                    <p>CTO And it</p>
                                </div>
                                <div class="koma">
                                    <img src="{% static 'landing/assets/img/koma.png' %}" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial-item">
                            <div class="testimonial-text">
                                <h4>"Very energetic young entrepreneurs"</h4>
                                <p>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                    quaerat volup</p>
                            </div>
                            <div class="overlay-2">
                                <div class="test-img">
                                    <img src="{% static 'landing/assets/img/test-1.jpg' %}" alt="img"
                                        class="img-responsive">
                                </div>
                                <div class="author">
                                    <h4>Jhon Doe</h4>
                                    <p>CTO And it</p>
                                </div>
                                <div class="koma">
                                    <img src="{% static 'landing/assets/img/koma.png' %}" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row te-row">
                    <div class="col-md-4 offset-md-2">
                        <div class="testimonial-item">
                            <div class="testimonial-text">
                                <h4>"Quality of the works are flawless"</h4>
                                <p>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                    quaerat volup</p>
                            </div>
                            <div class="overlay-2">
                                <div class="test-img">
                                    <img src="{% static 'landing/assets/img/test-1.jpg' %}" alt="img"
                                        class="img-responsive">
                                </div>
                                <div class="author">
                                    <h4>Jhon Doe</h4>
                                    <p>CTO And it</p>
                                </div>
                                <div class="koma">
                                    <img src="{% static 'landing/assets/img/koma.png' %}" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial-item">
                            <div class="testimonial-text">
                                <h4>"I will come back again for their service"</h4>
                                <p>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                    quaerat volup</p>
                            </div>
                            <div class="overlay-2">
                                <div class="test-img">
                                    <img src="{% static 'landing/assets/img/test-1.jpg' %}" alt="img"
                                        class="img-responsive">
                                </div>
                                <div class="author">
                                    <h4>Jhon Doe</h4>
                                    <p>CTO And it</p>
                                </div>
                                <div class="koma">
                                    <img src="{% static 'landing/assets/img/koma.png' %}" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testinomal area end-->

    <!-- News & Articles are start -->
    <section id="news-area">
        <div class="content-box">
            <div class="content-title">
                <h2>News & Articles</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                <p>doloremque laudantium totam rem aperiam eaque ipsa</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card-2">
                        <div class="news-2-img">
                            <img src="{% static 'landing/assets/img/news/3.png' %}" alt="img">
                        </div>
                        <div class="news-head-text">
                            <h4><a href="#">A Fruitful Retirement: Social Security Benefit</a></h4>
                            <p>Bring to the win-win survival strategies to ensure proactive domination...</p>
                            <div class="news-icon">
                                <i class="far fa-clock"></i>
                                <span>Apr 4, 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card-2">
                        <div class="news-2-img">
                            <img src="{% static 'landing/assets/img/news/2.png' %}" alt="img">
                        </div>
                        <div class="news-head-text">
                            <h4><a href="#!">A Fruitful Retirement: Social Security Benefit</a></h4>
                            <p>Bring to the win-win survival strategies to ensure proactive domination...</p>
                            <div class="news-icon">
                                <i class="far fa-clock"></i>
                                <span>Apr 4, 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card-2 news-mr-tr">
                        <div class="news-2-img">
                            <img src="{% static 'landing/assets/img/news/3.png' %}" alt="img">
                        </div>
                        <div class="news-head-text">
                            <h4><a href="#!">A Fruitful Retirement: Social Security Benefit</a></h4>
                            <p>Bring to the win-win survival strategies to ensure proactive domination...</p>
                            <div class="news-icon">
                                <i class="far fa-clock"></i>
                                <span>Apr 4, 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12  di-no">
                    <div class="card-2 news-mr-tr">
                        <div class="news-2-img">
                            <img src="{% static 'landing/assets/img/news/3.png' %}" alt="img">
                        </div>
                        <div class="news-head-text">
                            <h4><a href="#!">A Fruitful Retirement: Social Security Benefit</a></h4>
                            <p>Bring to the win-win survival strategies to ensure proactive domination...</p>
                            <div class="news-icon">
                                <i class="far fa-clock"></i>
                                <span>Apr 4, 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- button start -->
                <div class="news-btn d-flex">
                    <div class="play-btn btn-work">
                        <a href="#?" class="btn">More Blogs</a>
                    </div>
                </div> <!-- button end -->
            </div>
        </div>
    </section>
    <!-- News & Articles are end -->
 
{% endblock content %}