{% extends 'base/dashboard_base.html' %}{% load static karma  avatar_tags ads_tags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/buy-ico.min.css' %}">
{% endblock css %}
{% block breadcrumb %}
{% include 'partials/breadcrumb.html' with current_page_name="Level" %}
{% endblock breadcrumb %}
{% block content %}
<div class="content-detached content-left">
  <div class="content-body">
    <section class="card pull-up">
      <div class="card-content">
        <div class="card-body">
          <div class="col-12">
            <form action="{% url 'level' %}" method="POST">
              <div class="row">
                <div class="col-md-3 col-xl-2 col-3 d-none d-md-block">
                  <div class="crypto-circle rounded-circle">
                    <i class="icon-layers"></i>
                  </div>
                </div>
                <div class="col-md-5 col-xl-6 col-6">
                  <p><strong>Earnings:</strong></p>
                  <h1>N{{user.amount_received}}</h1>
                  <p class="mb-0">Contributed <strong>N{{user.amount_received}}</strong> in {{user.date_joined|timesince}}</p>
                </div>
                <div class="col-md-4 col-xl-4 col-3 text-right">
                  <button type="submit" class="btn-gradient-secondary mt-2">{% if user.level %}Uneroll{% else %}Enroll{% endif %} <i class="la la-angle-right"></i></button>
                </div>
              </div>
              {{form}}
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--/ CIC -->
    <h3 class="mt-4">Levels</h3>
    {% for level in level_list %}
    <!-- Level -->
    <section class="card {% if level.id == user.level.id %}level-active{% endif %}">
      <div class="card-content">
        <div class="card-body">
          <div class="col-12">
            <div class="row">
              <div class="col-md-3 col-xl-2 col-12 d-none d-md-block">
                <div class="crypto-circle rounded-circle">
                  <i class="icon-layers"></i>
                </div>
              </div>
              <div class="col-md-5 col-xl-7 col-12">
                <p><strong>{{level.name}}</strong></p>
                <h5>Entry Fee: {{level.entry_fee}}</h5>
                <h5>Reward: {{level.level_reward}}</h5>
              </div>
              <div class="col-md-4 col-xl-3 col-12 d-none d-md-block">
                {% if level.id == user.level.id %}
                {% avatar user 100 class="rounded-circle height-100" id="user_avatar" %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ Level -->
    {% endfor %}
  </div>
</div>
<div class="sidebar-detached sidebar-right"="">
  <div class="sidebar">
    <div class="sidebar-content">
     {% karma %}

      <!-- token sale progress -->
      <div class="card">
        <div class="card-header">
          <h6 class="card-title text-center">Advertisements</h6>
        </div>
        <div class="card-content collapse show">
          <div class="card-body">
           {% render_ads_zone 'sidebar' %}
          </div>
        </div>
      </div>
      <!--/ token sale progress -->

    </div>
  </div>
</div>
{% endblock content %}