{% extends 'base/dashboard_base.html' %}{% load avatar_tags static timer ads_tags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/transactions.min.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
  integrity="sha256-KsRuvuRtUVvobe66OFtOQfjP8WA2SzYsmm4VPfMnxms=" crossorigin="anonymous"></script>
{% endblock css %}
{% block breadcrumb %}
{% include 'partials/breadcrumb.html' with current_page_name="Peers" %}
{% endblock breadcrumb %}
{% block content %}
<div class="content-detached content-left">
  <div class="content-body">
    <div id="wallet">
      <div class="wallet-table-th d-none d-md-block">
        <div class="row">
          <div class="col-md-6 col-12 py-1">
            <p class="mt-0 text-capitalize">User</p>
          </div>
          <div class="col-md-2 col-12 py-1 text-center">
            <p class="mt-0 text-capitalize">Amount</p>
          </div>
          <div class="col-md-4 col-12 py-1 text-center">
            <p class="mt-0 text-capitalize">Action</p>
          </div>
        </div>
      </div>
      <script>
        function countDowntime(_time, element) {

          var deadline = new Date(_time).getTime();
          var x = setInterval(function () {
            var now = new Date().getTime();
            var t = deadline - now;
            var days = Math.floor(t / (1000 * 60 * 60 * 24)) ? Math.floor(t / (1000 * 60 * 60 * 24)).toString() + 'd' : '';
            var hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) ? Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)).toString() + 'h' : '';
            var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)) ? Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)).toString() + 'm' : '';
            var seconds = Math.floor((t % (1000 * 60)) / 1000) ? Math.floor((t % (1000 * 60)) / 1000).toString() + 's' : '';
            document.getElementById(element).innerHTML = days + " " + hours + " " + minutes + " " + seconds;
            if (t < 0) {
              clearInterval(x);
              document.getElementById(element).innerHTML = "EXPIRED";
            }
          }, 1000);
        }
      </script>
      <form method="POST" id="peer_form">
        {% csrf_token %}
        {% for peer in peer_list %}
        <!-- Peer -->
        <section class="card pull-up">
          <div class="card-content">
            <div class="card-body">
              <div class="col-12">
                <div class="row">
                  <div class="col-md-4 col-12 py-1">
                    <div class="media">
                      {% for field in form.get_user_from_field %}
                      {% if peer.id == field.value %}{{ field }}{% endif %}
                      {% endfor %}
                      {% avatar peer.username %}
                      <div class="media-body">
                        <h5 class="mt-0 text-capitalize">{{peer.username}}</h5>
                        <p class="text-muted mb-0 font-small-3 wallet-address">{{user.phone_number}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-12 py-1 text-center">
                    <h6>N{{peer.level.entry_fee}}</h6>
                    <p id="timer_{{peer.id}}" class="text-muted mb-0 font-small-3">
                      {% if user.task == 'R' %}
                      <script>countDowntime("{% timer peer None %}", 'timer_{{peer.id}}')</script> {% else %}
                      <script>countDowntime("{% timer None peer %}", 'timer_{{peer.id}}')</script> {% endif %}
                    </p>
                  </div>
                  {% if user.task == 'R' %}
                  <div class="col-md-2 col-12 py-1 text-center">
                    <button onclick="confirm(event, 'confirm', {{peer.id}});"
                      class="btn btn-success line-height-3">Confirm</button>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                    <button onclick="confirm(event, 'purge', {{peer.id}});"
                      class="btn btn-danger line-height-3">Purge</button>
                  </div>
                  {% else %}
                  <div class="col-md-2 col-12 py-1 text-center">
                    <button onclick="confirm(event, 'paid', {{peer.id}});"
                      class="btn btn-success line-height-3">Paid</button>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                    <button onclick="confirm(event, 'purge_self', {{peer.id}});"
                      class="btn btn-danger line-height-3">Purge</button>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/ Peer -->{% endfor %}
      </form>
    </div>
  </div>
</div>
<div class="sidebar-detached sidebar-right"="">
  <div class="sidebar">
    <div id="wallet-sidebar" class="sidebar-content">
      <div class="row">
        {% comment %} <p class="py-1 text-capitalize col-12">Your balance</p> {% endcomment %}
      </div>
      <div class="card">
        <div class="card-header">
          <h6 class="card-title text-center">Ads</h6>
        </div>
        <div class="card-content collapse show">
          <div class="card-body">

           {% render_ads_zone 'sidebar' %}
          
          </div>
          <div class="table-responsive">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">

  function confirm(e, action, user_id) {
    e = e || window.event;
    e.preventDefault();
    swal({
      title: "Are you sure you what to do this?",
      text: "you will not be able to make changes after this.",
      dangerMode: true,
      buttons: {
        cancel: true,
        continue: {
          dangerMode: true,
          text: "Yes",
          value: action,
          className: "btn-danger"
        },
      },
      icon: "warning",
    })
      .then((value) => {
        if (value) {
          processForm(action, user_id);
        }
      });
  }

  function processForm(action, user_id) {
    form = document.getElementById('peer_form')
    if (action == 'confirm') {
      updateForm(form, 'action', 'confirm')
    } else if (action == 'purge') {
      updateForm(form, 'action', 'purge')
    } else if (action == 'purge_self') {
      updateForm(form, 'action', 'purge_self')
    } else if (action == 'paid') {
      updateForm(form, 'action', 'paid')
    } else {
      return false;
    }
    updateForm(form, 'target', user_id)
    console.log(form)
    form.submit()
  }

  function updateForm(form, name, value) {
    input = document.createElement('input');
    input.setAttribute('name', name);
    input.setAttribute('value', value);
    input.setAttribute('type', 'hidden');
    form.appendChild(input);
    return form
  }

</script>
{% endblock javascript %}