{% extends 'base/dashboard_base.html' %}{% load referral_link karma static avatar_tags app_filters %}
{% block breadcrumb %}
{% include 'partials/breadcrumb.html' with current_page_name="Account Profile" %}
{% endblock breadcrumb %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/account-profile.min.css' %}">
{% endblock css %}
{% block content %}
<div class="content-body">
<div class="row">
    <div class="col-12 col-md-8">
        <!-- User Profile -->
        <section class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-2 col-12">
                                {% avatar user 100 class="rounded-circle height-100" id="user_avatar" %}
                            </div>
                            <div class="col-md-10 col-12">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <p class="text-bold-700 text-uppercase mb-0">Last login</p>
                                        <p class="mb-0">{{user.last_login}}</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <p class="text-bold-700 text-uppercase mb-0">IP</p>
                                        <p class="mb-0">{{user.ip}}</p>
                                    </div>
                                </div>
                                <hr/>
                                <form class="form-horizontal form-user-profile row mt-2" method="POST" action="{% url 'user_profile' user.username %}">
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            {{form.first_name}}
                                            <label for="id_first_name">First name</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            {{form.last_name}}
                                            <label for="id_last_name">Last name</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            {{form.phone_number}}
                                            <label for="id_user_name">Phone Number</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            {{form.date_of_birth}}
                                            <label for="id_date_of_birth">Date of birth</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" value="{{user.task| task_filter}}"  disabled autofocus="">
                                            <label for="old-password">Task</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-6">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" value={{user.level}} disabled autofocus="">
                                            <label for="new-password">Level</label>
                                        </fieldset>
                                    </div>
                                    {% csrf_token %}
                                    <div class="col-12 text-right">
                                        <button type="submit" class="btn-gradient-primary my-1">Save</button>
                                    </div>
                                </form>
                                <h5>Referral Link</h5>
                                <hr/>
                                <form class="form-horizontal form-referral-link row mt-2" action="">
                                    <div class="col-12">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" id="referral-link" value="{% referral_link %}" required="" autofocus="">
                                            <label for="first-name">Referral link</label>
                                        </fieldset>
                                    </div>
                                </form>
                                <p>This is your Agapeer referral link. You can use it to share the project with your friends and other interested parties.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-12 col-md-4">
        {% karma %}
        <div class="card">
            <div class="card-header">
                <h6 class="card-title text-center">Ads</h6>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    
                </div>
                <div class="table-responsive">
                    
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
{% endblock content %}